.user-info  {
    width: 300px;
    height:75vh;
    padding: 10px 10px 20px 10px;
    background: linear-gradient(to top, #e6dada9a, #27404698);
     display: flex;
     flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 4px 2px 2px 0;
    line-height: 10px;
}

.user-image {
    padding-top: 40px;
}

img {
    border-radius: 60px;
    border: 1px solid black;
    width: 85%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    animation: borderColors 3s infinite linear alternate;
}

@keyframes borderColors {
    0% {border: 3px solid #29c2ff}
    25% {border: 3px solid rgb(218, 18, 201)}
    50% {border: 3px solid #29c2ff}
    75% {border: 3px solid rgb(48, 62, 255);}
    100% {border: 3px solid #29c2ff;}
}



.user {
    font-size: 16px;
    font-family: 'Coda', cursive;
    letter-spacing: 1.5px;
    margin-top: 30px;
}

.followers-card {
   display: flex;
     flex-direction: row;
     flex-wrap: wrap; 
     justify-content: space-evenly;
     align-items: center;
}

.follower {
  width: 300px;
    height: 60vh;
    background: linear-gradient(to top, #e6dada9a, #27404698);
    margin: 40px 0 30px 0;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 4px 2px 2px 0;
    line-height: 10px;
    text-align: center;
}

.follower-picture {
    padding-top: 40px;
}

.follower-info {
    padding: 10px;
    font-family: 'Coda', cursive;
    font-size: 25px;
}


.follower-text {
    color: white;
    text-shadow: 1.5px 1.5px black;
    border-bottom: 1px dotted black;
    width: 300px;
    margin: 0 auto;
    font-family: 'Coda', cursive;
}